body{
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  background-image: url(../images/bg1.png);
  background-size: 70rem;
}

h5, h4 {
  font-family: 'Montserrat', sans-serif;

  font-weight: 500;

  letter-spacing: .1rem;
 
}

h6 {
  letter-spacing: .05rem;
  font-weight: 100;

}

.navbar{
  box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
  height: 5rem;
  letter-spacing: .15rem;
}

.navbar-brand {
  width: 97vw;
  position: absolute;
  top: 0;
  z-index: 1;
}

.nav-link {
  z-index: 2;
}

.navbar-brand img {
  display: block;
  margin: auto;
}

.container {
  margin-top: 2rem;
}

.card {
  text-align: center;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  margin-bottom: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .15rem;
  font-weight: 300;
}

.card-header {
  font-weight: 500;
  background-color: #f2d79d !important;
  letter-spacing: .2rem !important;
  text-align: center;

}

.create, .join, .suggestion-btn{
  margin-top: 1.5rem;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.5);
}

.modal {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .15rem;
}

.modal-content {
  border-radius: .5rem;
  border: 1px solid;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.modal-header {
  background-color: #fce0a2;
}

#lobbycreate {
  color: #fff;
  background-color: #9ca4ac;
  border-color: #675e84;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.5);
}

.bg-card-1, .bg-card-2 {
  margin-top: 2rem;
  height: 30rem;
  width: 19rem;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.9);
  transform: rotate(10deg);
}
.bg-card-1{
  background-color: #f9dbd2;
}

.bg-card-2 {
  background-color: #cee1f4;
}

.bg-card-3 {
  margin-top: -3rem;
  margin-left: -2rem;
  height: 30rem;
  width: 19rem;
  background-color: #e6edb7;
  border-radius: 1rem;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.9);
  transform: rotate(-20deg);
  /* animation: flipOutY; referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-70%) translateX(80%);
}

.user-pannel {
  text-align: left;
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.btn-danger {
  color: #fff !important;
  background-color: #7b77a7 !important;
  border-color: #675e84 !important;
}

.btn-danger:hover {
  color: #fff !important;
  background-color: #9ca4ac !important;
  border-color: #675e84 !important;
}

.footer {
  font-size: 10px;
  font-weight: lighter;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
}

#startGame{
  display: none;
}

.voteBtn{
  display: none;
}

.developer {
  max-height: 4rem;
  max-width: 7rem;
  border-radius: 35px;
  float: left;
}

.dev-odd-fact {
  margin-bottom: 0px;
  text-align: left;
}

.info-box {
  text-align: left;
}

.dev-name {
  font-weight: 475;

.navbar-toggler {
  z-index: 2;

}
